.missionSection {
    background-color: #ff7823;
    color: white;
    padding: 60px 20px;
    text-align: center;
  }
  
  .missionSection h2 {
    font-size: 2.3rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .missionSection p {
    font-size: 1.2rem;
    max-width: 900px;
    margin: 0 auto;
  }
  
  .whyChooseUsSection {
    padding: 60px 10px;
    background-color: #fff;
  }

  .carouselTextSection {
    margin-top: 10px; /* Reduce top margin */
    margin-bottom: 140px; /* Increase bottom margin */
  }

  @media (max-width: 768px) { 
    .carouselTextSection {
      margin-top: -125px; /* Further reduce top margin for smaller screens */
      margin-bottom: 100px; /* Slightly reduce bottom margin for better spacing */
    }
  }