.cardWrapper {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    aspect-ratio: 4 / 5;  
    border: .4rem solid white;  
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);  
    background-color: #fff;
}

.cardImage {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center;
    transition: transform 0.3s ease;
}

.cardWrapper:hover .cardImage {
    transform: scale(1.1);
}

/* Overlay initially hidden */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 120, 35, 0.97);  
    opacity: 0;
    transition: opacity 0.3s ease;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start;  
    padding: 1rem;
    gap: 0.3rem;
}

.cardWrapper:hover .overlay {
    opacity: 1;
}

.overlay h5 {
    margin: 0 0 0.5rem;
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase; 
}

.overlay p {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 500;
    text-align: left;
}
