.carouselTextSection {
  background-color: #fff;
  padding: 2rem 4rem;
  margin: 1rem 0; 
}

.heading {
  color: #ff7823;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.text {
  color: #333;
  font-size: 1.1rem;
  line-height: 1.7;
  max-width: 500px;
}

.carouselCol {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.customCarousel {
  width: 500px;
  height: var(--carousel-height, 585px);
  max-width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}


.linkStyle {
  text-decoration: underline;
  color: #ff7823;
  font-weight: 400;
  font-size: 0.95rem;
  cursor: pointer;
}

.linkStyle:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .carouselTextSection {
    padding: 2rem 1.5rem;
    margin-top: 0.8rem; 
    margin-bottom: 3.5rem; 
  }

  .heading {
    font-size: 1.75rem;
    margin-top: 0.75rem;
  }

  .text {
    font-size: 1rem;
  }

  .customCarousel {
    width: 500px;
    height: var(--carousel-height-mobile, 433px);
    max-width: 90%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
}