/* Wrapper for the entire section */
.sectionWrapper {
    /* No extra margin by default */
  }
  
  .textContainer {
    background-color: #fff;
    padding: 2rem 4rem;
    margin: 2rem 0; 
  }
  
  .heading {
    color: #ff7823;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }
  
  .text {
    color: #333;
    font-size: 1.1rem;
    line-height: 1.7;
    max-width: 500px;
  }
  
  @media (max-width: 768px) {
    .sectionWrapper {
      margin-top: 4rem;
    }
    
    .textContainer {
      padding: 2rem 2.5rem;
      margin-top: 0.2rem;   
      margin-bottom: 0.01rem; 
    }
    
    .heading {
      font-size: 1.75rem;
      margin-top: 0.15rem; 
      margin-bottom: 0.75rem;
    }
    
    .text {
      font-size: 1rem;
      max-width: 90%;
    }
  }
  