/* Wrapper for the entire section */
.sectionWrapper {
    /* No extra margin by default */
  }
  
  .textContainer {
    background-color: #fff;
    padding: 2rem 4rem;
    margin: 2rem 0; /* Default margins */
  }
  
  .heading {
    color: #ff7823;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }
  
  .text {
    color: #333;
    font-size: 1.1rem;
    line-height: 1.7;
    max-width: 500px;
  }
  
  @media (max-width: 768px) {
    /* Increase the top margin of the whole section (above the image) */
    .sectionWrapper {
      margin-top: 4rem;
    }
    
    .textContainer {
      padding: 2rem 2.5rem;
      margin-top: 0.2rem;   /* Reduced gap between image and text container */
      margin-bottom: 0.01rem; /* Reduced gap after text */
    }
    
    .heading {
      font-size: 1.75rem;
      margin-top: 0.15rem;  /* Adjust if necessary */
      margin-bottom: 0.75rem; /* Reduced gap between heading and text */
    }
    
    .text {
      font-size: 1rem;
      max-width: 90%;
    }
  }
  