/* styles/NavBar.module.css */

  .inactiveLink {
    color: rgb(52, 51, 51);
    font-size: 0.93rem; 
    font-weight: 450;
    transition: color 0.3s ease;
  }
  
  .inactiveLink:hover {
    color: rgb(255, 120, 23);
  }
  
  .activeLink {
    color: rgb(255, 120, 23) !important;
    font-size: 0.935rem; 
    font-weight: 700;
  }
  
  
  